<div class="col-3 bg-light py-5 d-flex flex-column justify-content-between">
  <div>
    <!-- logo -->
    <a class="navbar-brand ms-5" href="#"
      ><img src="../assets/images/logo-ANSWER.svg" alt="logo"
    /></a>
    <!-- navbar list -->
    <ul class="navbar-nav mt-5">
      <li class="nav-item mb-4">
        <a class="nav-link fw-bold" href="#"
          ><i class="fa-solid fa-square-poll-vertical me-3 ms-5"></i
          >Dashboard</a
        >
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link fw-bold" href="#"
          ><i class="fa-solid fa-comments me-3 ms-5"></i>Question</a
        >
      </li>
      <li class="nav-item mb-4 active">
        <a class="nav-link fw-bold" href="#"
          ><i class="fa-solid fa-file-lines me-3 ms-5"></i>Assignment</a
        >
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link fw-bold"
          ><i class="fa-solid fa-paste me-3 ms-5"></i>Course</a
        >
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link fw-bold"
          ><i class="fa-solid fa-user-group me-3 ms-5"></i>Admin</a
        >
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link fw-bold"
          ><i class="fa-solid fa-gear me-3 ms-5"></i>Settings</a
        >
      </li>
    </ul>
  </div>
  <!-- user -->
  <div class="d-flex align-items-center ms-5">
    <div class="user-image me-3">
      <img
        src="../assets/images/andychen.jpeg"
        class="img-fluid rounded-circle"
        alt="user andychen"
      />
    </div>
    <div class="user-info">
      <p class="mb-0 fw-bold">Andy Chen</p>
      <small class="text-muted">andy0401@mail.com</small>
    </div>
  </div>
</div>
